# Logs
logs
*.log

# Credentials
**/.env
!**/fixtures/**/.env

# Generated
packages/*/doc
packages/*/bin
packages/*/dist
packages/*/types/**/*.d.ts
packages/*/types/**/*.d.mts
packages/*/types/**/*.d.cts

# Coverage tests
**/test/generated-coverage/
coverage-test-report.xml
coverage-tests-metadata.json

# Docker
docker-compose.yaml

# Dependency directory
node_modules

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks

# Other
.idea
.vscode
.bongo
.DS_Store
.eslintcache
.history/
*.swp
*~
tmp
tags
tags.*
packages/@applitools/
