.*.swp
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
!/*/Gemfile.lock
InstalledFiles
_yardoc
`coverage
doc/
lib/bundler/man
pkg
rdoc
.idea/
.idea-*/
spec/reports
tmp
# C ext compilation
ext/eyes_core/Makefile

ext/eyes_core/*.time
ext/eyes_core/*.o
ext/eyes_core/*.so
ext/applitools/*.time
ext/eyes_core/*.bundle

GemfileTravis.lock

# Local RVM files
#.ruby-gemset
#!/*/.ruby-gemset
#.ruby-version
#!/*/.ruby-version
node_modules
debug_screenshots
**/spec/coverage/generic
coverage-test-report.xml
coverage-test-metadata.json
/coverage_tests/configuration/local.js