.vscode
.idea
.history
.DS_Store
Session.vim
dotnet/UPDATED_PROJECTS.txt
dotnet/RECENT_CHANGES.md
dotnet/SEND_MAIL.json
dotnet/Eyes.Images.DotNet/VisualGrid/AndroidDeviceName.cs
dotnet/Eyes.Images.DotNet/VisualGrid/DeviceName.cs
dotnet/Eyes.Images.DotNet/VisualGrid/IosDeviceName.cs
dotnet/coverage-tests/meta.json
dotnet/MATRIX.json
